@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Open+Sans&display=swap");
@import url(https://pro.fontawesome.com/releases/v5.10.0/css/all.css);

$textColor: #313131;
// flex, column, center item
@mixin flexColCen() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin btnDesign() {
  margin: 0 auto;
  text-align: center;
  width: 20%;
  font-family: "Fjalla One", sans-serif;
  font-size: 1.1rem;
  padding: 0.3rem;
  border: 3px solid $textColor;
  background-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

body {
  color: $textColor;
  margin: 2rem;
  padding: 1rem;
  header {
    @include flexColCen();
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;

    .forward-backward {
      font-family: "Fjalla One", sans-serif;
      @include flexColCen();
      flex-direction: row;
      cursor: pointer;
      #left {
        transform: rotate(270deg);
      }
      #right {
        transform: rotate(90deg);
      }
    }
    .title-text {
      @include flexColCen();
      h1 {
        font-size: 2.5rem;
        font-family: "Fjalla One", sans-serif;
      }
      h2 {
        font-family: "Open Sans", sans-serif;
      }
    }
  }
  .planner {
    #start {
      @include btnDesign();
      display: none;
    }
    form {
      input,
      textarea {
        font-size: 1.3rem;
        font-family: "Open Sans", sans-serif;
        border: none;
        text-decoration: underline;
        resize: none;
      }
      label {
        font-family: "Fjalla One", sans-serif;
        font-size: 1.3rem;
        padding: 0.1rem 0.5rem;
      }

      .form-container {
        @include flexColCen();
        // display: none;
        align-content: center;

        .form-input {
          margin: 0.5rem auto;
          display: flex;
          align-items: top;
          align-content: center;
          padding: 0.5rem;
        }
        #qoute {
          @include flexColCen();
          h3 {
            font-family: "Fjalla One", sans-serif;
            font-size: 1.3rem;
          }
          p {
            font-family: "Open Sans", sans-serif;
            font-weight: lighter;
          }
        }
      }
      button {
        @include btnDesign();
      }
    }
  }
  .saved-text-container {
    display: flex;
    .form-output {
      display: flex;
      flex-direction: row;
      align-content: center;
      margin: 0.5rem auto;
      padding: 0.5rem;
      .label-from-saved {
        font-family: "Fjalla One", sans-serif;
        font-size: 1.3rem;
        padding: 0.1rem 0.5rem;
      }
      .text-output {
        font-size: 1.3rem;
        font-family: "Open Sans", sans-serif;
        border: none;
        text-decoration: underline;
      }
    }
  }
}
