@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Open+Sans&display=swap");
@import url(https://pro.fontawesome.com/releases/v5.10.0/css/all.css);
* {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

body {
  color: #313131;
  margin: 2rem;
  padding: 1rem;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

body header .forward-backward {
  font-family: "Fjalla One", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  cursor: pointer;
}

body header .forward-backward #left {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

body header .forward-backward #right {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

body header .header-center .title-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .header-center .title-text h1 {
  font-size: 2.5rem;
  font-family: "Fjalla One", sans-serif;
}

body header .header-center .title-text h2 {
  font-family: "Open Sans", sans-serif;
}

body header .header-center .edit-save {
  padding: 1rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header .header-center .edit-save button {
  margin: 0 auto;
  text-align: center;
  width: 20%;
  font-family: "Fjalla One", sans-serif;
  font-size: 1.1rem;
  padding: 0.3rem;
  border: 3px solid #313131;
  background-color: transparent;
  width: 70px;
}

body header .header-center .edit-save .vertical-line {
  border-left: 3px solid #313131;
}

body .planner form input,
body .planner form textarea {
  font-size: 1.3rem;
  font-family: "Open Sans", sans-serif;
  border: none;
  text-decoration: underline;
  resize: none;
}

body .planner form label,
body .planner form h3 {
  font-family: "Fjalla One", sans-serif;
  font-size: 1.3rem;
  padding: 0.1rem 0.5rem;
}

body .planner form .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

body .planner form .form-container .form-input {
  margin: 0.5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0.5rem;
}

body .planner form .form-container #qoute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .planner form .form-container #qoute h3 {
  font-family: "Fjalla One", sans-serif;
  font-size: 1.3rem;
}

body .planner form .form-container #qoute p {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
}

body .planner form button {
  margin: 0 auto;
  text-align: center;
  width: 20%;
  font-family: "Fjalla One", sans-serif;
  font-size: 1.1rem;
  padding: 0.3rem;
  border: 3px solid #313131;
  background-color: transparent;
}

body .saved-text-container,
body .form-container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem;
}

body .saved-text-container .form-output,
body .saved-text-container .form-input,
body .form-container .form-output,
body .form-container .form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0.5rem auto;
  padding: 0.5rem;
}

body .saved-text-container .form-output .label-from-saved,
body .saved-text-container .form-input .label-from-saved,
body .form-container .form-output .label-from-saved,
body .form-container .form-input .label-from-saved {
  font-family: "Fjalla One", sans-serif;
  font-size: 1.3rem;
  padding: 0.1rem 0.5rem;
}

body .saved-text-container .form-output .text-output,
body .saved-text-container .form-input .text-output,
body .form-container .form-output .text-output,
body .form-container .form-input .text-output {
  font-size: 1.3rem;
  font-family: "Open Sans", sans-serif;
  border: none;
  text-decoration: underline;
}
/*# sourceMappingURL=styles.css.map */